# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.HitMasterClone.iml
# Datasource local storage ignored files
/../../../../../../:\for Unity\HitMasterClone\.idea\.idea.HitMasterClone\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
